<%= form_tag search_search_curriculum_path, class: 'form-horizontal' do %>
<div class="row" >
  <div class="col-md-3">



    <!--<div class="widget">-->
      <!--<div class="widget-body" style="margin-top: -0px;">-->
        <!--<div class="form-group">-->
          <!--<label class="col-md-4 control-label" for="users[first_name]"><%= t('signup.lb_first_name') %><span class="requiredfield">*</span></label>-->
          <!--<div class="col-md-8">-->
            <!--<%= text_field_tag "keyword", params[:keyword], placeholder: t('search_curriculum.placeholder_keyword'), class: "form-control search_all", maxlength:200 %>-->
          <!--</div>-->
        <!--</div>-->
        <!--<div class="form-group">-->
          <!--<label class="col-md-4 control-label" for="users[first_name]"><%= t('signup.lb_first_name') %><span class="requiredfield">*</span></label>-->
          <!--<div class="col-md-8">-->
            <!--<%= text_field_tag "keyword", params[:keyword], placeholder: t('search_curriculum.placeholder_keyword'), class: "form-control search_all", maxlength:200 %>-->
          <!--</div>-->
        <!--</div>-->
        <!--<div class="form-group">-->
          <!--<label class="col-md-4 control-label" for="users[first_name]"><%= t('signup.lb_first_name') %><span class="requiredfield">*</span></label>-->
          <!--<div class="col-md-8">-->
            <!--<%= text_field_tag "keyword", params[:keyword], placeholder: t('search_curriculum.placeholder_keyword'), class: "form-control search_all", maxlength:200 %>-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->

    <!--<div class="widget">-->
      <!--<div class="widget-body" style="margin-top: -0px;">-->
        <label for="users[first_name]"><%= t('signup.lb_first_name') %><span class="requiredfield">*</span></label>
        <%= text_field_tag "keyword", params[:keyword], placeholder: t('search_curriculum.placeholder_keyword'), class: "form-control search_all", maxlength:200 %>
        <label for="users[first_name]"><%= t('signup.lb_first_name') %><span class="requiredfield">*</span></label>
        <%= text_field_tag "keyword", params[:keyword], placeholder: t('search_curriculum.placeholder_keyword'), class: "form-control search_all", maxlength:200 %>
        <label for="users[first_name]"><%= t('signup.lb_first_name') %><span class="requiredfield">*</span></label>
        <%= text_field_tag "keyword", params[:keyword], placeholder: t('search_curriculum.placeholder_keyword'), class: "form-control search_all", maxlength:200 %>
      <!--</div>-->
    <!--</div>-->

  </div>
  <div class="col-md-5">
    <h4 class="border-bottom">aa<a id="btn_add_history_job" style="float:right;" ><i class="fa fa-plus" style="margin-left: 3px; margin-right: 3px;"></i></a></h4>
    <div id="div_History_Job" class="form-group" style="height: 150px; overflow-y: auto; overflow-x: hidden"></div>
    <h4 class="border-bottom">bbb<a id="btn_add_Specialty" style="float:right;" ><i class="fa fa-plus" style="margin-left: 3px; margin-right: 3px;"></i></a></h4>
    <div id="div_specialty" class="form-group" style="height: 150px; overflow-y: auto; overflow-x: hidden"></div>
  </div>
  <div class="col-md-4">
    <h4 class="border-bottom">bbb<a id="btn_add_Specialty" style="float:right;" ><i class="fa fa-plus" style="margin-left: 3px; margin-right: 3px;"></i></a></h4>
    <div id="div_specialty" class="form-group" style="height: 150px; overflow-y: auto; overflow-x: hidden"></div>
  </div>

</div>
<% end %>
<script>
  $("#btn_add_history_job").click(function(e){
      e.preventDefault();
    $("#div_History_Job").append("<div class=\"form-group\"><div class=\"col-md-9\" style='margin-left: 20px'><div class='col-xs-10'> <input class=\"form-control search_all\" id=\"keyword\" maxlength=\"200\" name=\"keyword\" placeholder=\"Enter curriculum name\" type=\"text\"></div><div class='col-xs-2'><a class='btn_remove_job'> <i class=\"fa fa-times fa-fw\"></i></a></div></div></div>");
    $(".btn_remove_job").click(function(e){
        e.preventDefault();
        $(this).closest(".form-group").remove();
    })
  })

  $("#btn_add_Specialty").click(function(e){
      e.preventDefault();
      $("#div_specialty").append("<div class=\"form-group\"><div class=\"col-md-9\" style='margin-left: 20px'><div class='col-xs-10'> <input class=\"form-control search_all\" id=\"keyword\" maxlength=\"200\" name=\"keyword\" placeholder=\"Enter curriculum name\" type=\"text\"></div><div class='col-xs-2'><a class='btn_remove_specialty'> <i class=\"fa fa-times fa-fw\"></i></a></div></div></div>");
      $(".btn_remove_specialty").click(function(e){
          e.preventDefault();
          $(this).closest(".form-group").remove();
      })
  })
</script>