<h3 style="padding-left: 30px; padding-bottom: 10px;" class="aes-color border-bottom" ><i class="fa fa-user"></i></i><%= @user.first_name + ' '+ @user.last_name %> <a id="btn_update_profile" class="pull-right" href="#" ><i class="fa fa-edit"></i> </a></h3>
<div class="row-fluid col-md-8">
  <!--<div class="row">-->
    <!--<label class="col-md-12 h3 aes-color border-bottom" style="padding-bottom: 10px;" ><%= @user.first_name + ' '+ @user.last_name %> <a id="btn_update_profile" href="#" ><i class="fa fa-edit"></i> </a></label>-->
  <!--</div>-->
  <div class="row">
    <label class="col-md-3 col-xs-3" ><%= t('signup.lb_email') %></label>
    <label class="col-md-9 col-xs-9" ><%= @user.email %></label>
  </div>
  <div class="row">
    <label class="col-md-3 col-xs-3" ><%= t('users.lb_gender') %></label>
    <label class="col-md-9 col-xs-9" ><%= (@user.gender.nil? || @user.gender=='')? 'N/A' : (@user.gender ? t('users.lb_male') : t('users.lb_female'))  %></label>
  </div>
  <div class="row">
    <label class="col-md-3 col-xs-3" ><%= t('users.lb_phone_number') %></label>
    <label class="col-md-9 col-xs-9" ><%= (@user.phone_number.nil? || @user.phone_number=='')? 'N/A' : @user.phone_number %></label>
  </div>
  <div class="row">
    <label class="col-md-3 col-xs-3" ><%= t('users.lb_birthday') %></label>
    <label class="col-md-9 col-xs-9" ><%= (@user.birth_day.nil? || @user.birth_day=='')? 'N/A' : @user.birth_day %></label>
  </div>
  <div class="row">
    <label class="col-md-3 col-xs-3" ><%= t('users.lb_address') %></label>
    <label class="col-md-9 col-xs-9" ><%= (@user.address.nil? || @user.address=='') ? 'N/A' : @user.address %></label>
  </div>
  <div class="row">
    <label class="col-md-3 col-xs-3" ><%= t('users.lb_city') %></label>
    <label class="col-md-9 col-xs-9" ><%= (@user.city.nil? || @user.city=='') ? 'N/A' : @user.city %></label>
  </div>
  <div class="row">
    <label class="col-md-3 col-xs-3" ><%= t('users.lb_country') %></label>
    <label class="col-md-9 col-xs-9" ><%= (@user.country.nil? || @user.country=='' ) ? 'N/A' : @user.country.name %></label>
  </div>
  <div class="row">
    <label class="col-md-3 col-xs-3" ><%= t('users.lb_introduction') %></label>
    <label class="col-md-9 col-xs-9" style="word-wrap:break-word; white-space: pre-wrap;" ><%= (@user.introduction.nil? || @user.introduction=='') ? 'N/A' : @user.introduction %></label>
  </div>
</div>

<script>

    $("#btn_update_profile").click(function(){
        $.ajax({
            type: "GET",
            url: "<%= update_user_profile_path %>",
            data: {
//              id: id,
//              object_type: object_type
            },
            beforeSend: function (xhr) {
                $.loader.open({size: 32});
            },
//          dataType: "json",
            success: function (data,status) {

            },
            error: function (xhr, status, response) {
                console.log(xhr);
                console.log("AJAX Error: " + status)
                console.log(response);
                $.loader.close(true);
            },
            complete: function(){
                $.loader.close(true);
            }
        });
    });
</script>