<%= form_for @specialty, html: {id: 'specialty_form', role: 'form'} do |f| %>
    <!--<div class="widget ">-->
      <!--<div class="widget-body">-->
        <div id="panelSpecialty" class="innerLR">
          <div class="specialty" id="<%= @specialty.id %>">
            <!--<div class="form-group">-->
              <!--<%= f.text_field :specialty, maxlength: 100, class: "form-control", placeholder: t('specialties.placeholder_specialty') %>-->
            <!--</div>-->

            <!--<div class="form-group">-->
              <!--<%= f.text_field :years_of_experience, class: "form-control", placeholder: t('specialties.placeholder_years_of_experience') %>-->
            <!--</div>-->

            <!--<div class="form-group">-->
              <!--<%= f.text_area :description, maxlength: 200, class: 'form-control', placeholder: t('specialties.placeholder_description'), rows: 2 %>-->
            <!--</div>-->

            <div class="form-group">
              <div class="row">
                <label class="col-md-4 control-label label_mobile" for="specialty[specialty]"><%= t('specialties.lb_specialty') %><span class="requiredfield">*</span></label>
                <div class="col-md-8">
                  <%= f.text_field :specialty, maxlength: 100, class: "form-control", placeholder: t('specialties.placeholder_specialty') %>
                </div>
              </div>
            </div>

            <div class="form-group">
              <div class="row">
                <label class="col-md-4 control-label label_mobile" for="specialty[years_of_experience]"><%= t('specialties.lb_years_of_experience') %></label>
                <div class="col-md-8">
                  <%= f.text_field :years_of_experience, class: "form-control", placeholder: t('specialties.placeholder_years_of_experience')%>
                </div>
              </div>
            </div>

            <div class="form-group">
              <div class="row">
                <label class="col-md-4 control-label label_mobile" for="specialty[description]"><%= t('specialties.lb_description') %></label>
                <div class="col-md-8">
                  <%= f.text_area :description, maxlength:2000, class: "form-control", placeholder: t('specialties.placeholder_description'), rows: 2 %>
                </div>
              </div>
            </div>
          </div>
        </div>
      <!--</div>-->
    <!--</div>-->

<% end %>