<div class="media-body">
    <h3 style="padding-left: 30px; padding-bottom: 10px; word-break: break-all" class="aes-color border-bottom" ><i class="fa fa-shield"></i></i><%= t('settings.title_security') %></h3>
    <div class="row-fluid col-md-9">
      <div class="row">
        <label class="col-md-4 col-xs-4" ><%= t('signup.lb_password') %><span class="requiredfield">*</span></label>
        <label class="col-md-8 col-xs-8" style="font-size: 20px" >
          ******
        </label>
      </div>
    </div>
</div>




<!--<div class="media-body">-->
  <!--<h3 style="padding-left: 30px; padding-bottom: 10px; word-break: break-all" class="aes-color border-bottom" ><i class="fa fa-user"></i></i><%= t('settings.title_security') %></h3>-->
  <!--<div class="row-fluid col-md-9">-->
    <!--<div class="row">-->
      <!--<label class="col-md-4 col-xs-4" ><%= t('signup.lb_email') %></label>-->
      <!--<label class="col-md-8 col-xs-8" style="word-break: break-all" ><%= @user.email %></label>-->
    <!--</div>-->
    <!--<div class="row">-->
      <!--<label class="col-md-4 col-xs-4" ><%= t('users.lb_gender') %></label>-->
      <!--<label class="col-md-8 col-xs-8" style="word-break: break-all" ><%= (@user.gender.nil? || @user.gender=='')? 'N/A' : (@user.gender ? t('users.lb_male') : t('users.lb_female'))  %></label>-->
    <!--</div>-->
  <!--</div>-->
<!--</div>-->