<!--<div class="widget ">-->
<div class="innerAll">
  <h4 class="margin-none strong">
    <a url="<%= history_jobs_path %>" href="<%= history_jobs_path %>" data-toggle="modal"><%= t('history_job.title_history_job') %></a>
  </h4>

  <div class="clearfix"></div>
</div>
<div class="widget innerLR">
  <div class="innerAll border-bottom" id="historyjob_new">
    <ul class="media-list margin-none">
      <a class="historyJob" url="<%= new_history_job_path %>" href="#" data-toggle="modal" modal_title="<%= t('history_job.title_new_history_job') %>">
        <li class="media">
                <span class="pull-left innerAll half empty-photo">
                    <i class="fa fa-plus" style="margin-left: 3px; margin-right: 3px;"></i>
                  <%= t('history_job.title_new_history_job') %>
                </span>
        </li>
      </a>
    </ul>

  </div>
  <div id="history_jobs_list" class="widget-body padding-none">
    <%= render @history_jobs %>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="historyJobModal" tabindex="-1" role="dialog" aria-labelledby="historyJobModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">
          <span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="historyJobModalLabel">Modal title</h4>
      </div>
      <div id="modalContentHistoryJob" class="modal-body" style="max-height: 600px; overflow-y: auto">
      </div>
      <div class="modal-footer">
        <button id="btnSaveHistoryJob" type="button" class="btn btn-primary"><%= t('button.btn_save') %></button>
        <button type="button" class="btn btn-default" data-dismiss="modal"><%= t('button.btn_cancel') %></button>
      </div>
    </div>
  </div>
</div>


<script>
    $(document).ready(function () {
        $('#historyJobModal').on('shown.bs.modal', function() {
            $('#history_job_company_name').focus();
        })
        $('a.historyJob').click(function (e) {
            openHistoryJobModal(this, e);
        });

        $('a.editHistoryJob').click(function (e) {
            openEditHistoryJobModal(this, e);
        });

        $('a.deleteHistoryJob').click(function (e) {
            processDeleteHistoryJob(this, e);
        });

        $("#btnSaveHistoryJob").click(function () {
            $("p.has-error").remove();
            $(".has-error").removeClass("has-error");
//            alert("fjsd");



            var valid = $("#history_job_form").valid();
            if (!valid) {
                return false;
            }

//            BootstrapDialog.confirm('<%= t('confirm.title_confirm') %>','<%= t('button.btn_save') %>','<%= t('button.btn_cancel') %>','<%= t('educations.msg_confirm_save')%>', function(result){
//                $.loader.open({size:32});
//                if(result) {
            var url = $("#history_job_form").attr("action");
            var data = $("#history_job_form").serializeArray();
            $.ajax({
                type: "POST",
                url: url,
                data: data,
                beforeSend: function (xhr) {
                    $.loader.open({size: 32});
                },
//                        dataType: "script",
                success: function () {
                    $.loader.close(true);
                },
                error: function (xhr, status, response) {
                    console.log("AJAX Error: " + status)
                    $.loader.close(true);
                }
            });
//                }else {
//                    $.loader.close(true);
//                }
//            });
//
        });

    });
</script>

<script>
    function processDeleteHistoryJob(element, e) {
        e.preventDefault();
        var url = $(element).attr("url");
        var id = $(element).attr("objectId");
        var title = $(element).attr("title");
        var title_confirm = $(element).attr("title_confirm");
        var title_msg_confirm = $(element).attr("title_msg_confirm");
        var title_button_ok = $(element).attr("title_button_ok");
        var title_button_cancel = $(element).attr("title_button_cancel");

        BootstrapDialog.confirm(title_confirm, title_button_ok, title_button_cancel, title_msg_confirm, function (result) {
            $.loader.open({size: 32});
            if (result) {
                $.ajax({
                    type: "DELETE",
                    url: url,
                    data: {
                        id: id
                    },
                    beforeSend: function (xhr) {
                        $.loader.open({size: 32});
                    },
                    dataType: "script",
                    success: function () {
                        $.loader.close(true);
                    },
                    error: function (xhr, status, response) {
                        console.log("AJAX Error: " + status)
                        $.loader.close(true);
                    }
                });
            } else {
                $.loader.close(true);
            }
        });
    }
    ;

    function openHistoryJobModal(element, e) {
        e.preventDefault();
        var url = $(element).attr("url");
        var id = $(element).attr("objectId");
        var title = $(element).attr("modal_title");
//        alert(url);
//        alert('openHistoryJobModal' + url + id + title)
        $.ajax({
            type: "GET",
            url: url,
            data: {
                id: id
            },
            beforeSend: function (xhr) {
                $.loader.open({size: 32});
            },
            dataType: "script",
            success: function () {
                $.loader.close(true);
                $('#historyJobModal').modal({
                    backdrop: 'static',
                    keyboard: false
                });
                $("#historyJobModalLabel").text(title);
            },
            error: function (xhr, status, response) {
                console.log("AJAX Error: " + status)
                $.loader.close(true);
            }
        });
    }
    ;

    function openEditHistoryJobModal(element, e) {
        e.preventDefault();
        var url = $(element).attr("url");
        var id = $(element).attr("objectId");
        var title = $(element).attr("modal_title");
        $("#historyJobModalLabel").text(title);
        console.log('openEditHistoryJobModal' + url + id + title)
        $.ajax({
            type: "GET",
            url: url,
            data: {
                id: id
            },
            beforeSend: function (xhr) {
                $.loader.open({size: 32});
            },
            dataType: "script",
            success: function (data) {
                $.loader.close(true);
                console.log("success");
            },
            error: function (xhr, status, response) {
                console.log("AJAX Error: " + status)
                $.loader.close(true);
            }
        });
    }
    ;
</script>
