<label class="col-md-4 col-xs-4" ><%= t('settings.lb_language') %></label>
<label class="col-md-8 col-xs-8" style="word-break: break-all" >
  <%= form_for @user ,:url => user_settings_language_form_path, html: {id: "settings_language",:method=> :post,role:'form',class:'form-horizontal'} do |f| %>
    <div class="form-group">
        <%= f.select :language, Language.all.order('name asc').collect {|u| [u.name, u.id]},{selected: session[:locale]},{:class => "form-control"} %>
    </div>
      <div class="form-group">
      <button type="submit" class="btn btn-primary"><i class="fa fa-check-circle"></i> <%= t('button.btn_save') %></button>
      <button id="btnCancel" type="button" class="btn btn-default"><i class="fa fa-times"></i> <%= t('button.btn_cancel') %></button>
      </div>
  <% end %>
</label>
<script>
  $("#btnCancel").click(function(){
      $.get('<%= user_settings_language_show_path %>');
  });

</script>