<div class="innerAll border-bottom" id="education<%= education.id %>" data-id="<%= education.id %>">
  <div class="row">
    <div class="col-sm-10">
      <ul class="media-list margin-none">
        <li class="media">

          <!--<span class="pull-left innerAll half empty-photo"><i class="fa fa-graduation-cap fa-2x text-muted"></i></span>-->

          <div class="media-body innerAll half">
            <span class="media-heading aes-color" style="word-wrap: break-word;"><%= education.school_name%></span>
</br>
            <% if !education.degree.nil? && !education.degree.blank?%>
                <small><%=t('education.lb_degree')%>: <%=education.degree.name%></small>
                <%else%>
                <small><%=t('education.lb_degree')%>: N/A</small>
            <%end%>
            </br>
            <% if !education.field_of_study.nil? && !education.field_of_study.blank?%>
                <small><%=t('education.lb_field_of_study')%>: <%=education.field_of_study%></small>
                    <%else%>
                    <small><%=t('education.lb_field_of_study')%>: N/A</small>
            <%end%>
            </br>
            <small></small>
            <% if !education.start_year.nil? && !education.graduation_year.nil?%>
                <small><%=t('education.lb_date_attended')%>: <%=education.start_year%></small>-<small><%=education.graduation_year%></small>
                <%else if !education.start_year.nil?%>
                    <small><%=t('education.lb_date_attended')%>: <%=education.start_year%></small>
                <%else if !education.graduation_year.nil?%>
                        <small><%=t('education.lb_date_attended')%>: <%=education.graduation_year%>(or expected)</small>
                        <%else%>
                        <small><%=t('education.lb_date_attended')%>: N/A</small>
            <%end%>
                    <%end%>
            <%end%>
          </div>
        </li>
      </ul>
    </div>
    <div class="col-sm-2">
      <div class="innerT half pull-right">
        <a class="editEducation btn btn-xs btn-primary" url="<%= edit_education_path(education) %>" objectId="<%= education.id%>" href="#" data-toggle="modal"  modal_title="<%=t('education.title_edit_education')%>"><i class="fa fa-pencil fa-fw"></i></a>
        <a class="deleteEducation btn btn-xs btn-primary" url="<%= education_path(education) %>" href="#" data-toggle="modal"  modal_title="<%=t('education.title_delete_education')%>" title_confirm="<%=t('education.title_confirm_delete_education')%>" title_msg_confirm="<%=t('education.msg_confirm_delete_education')%>" title_button_ok="<%=t('button.btn_ok')%>" title_button_cancel="<%=t('button.btn_cancel')%>"><i class="fa fa-times fa-fw"></i></a>
      </div>
    </div>
  </div>
</div>