<%= form_for @education, html: {id: 'education_form', role: 'form', class:'form-horizontal'} do |f| %>
    <!--<div class="widget ">-->
    <!--<div class="widget-body">-->
      <div id="panelEducation" class="innerLR">
        <div class="education" id="<%= @education.id %>">
          <div class="form-group">
            <div class="row">
              <div class="col-xs-12 col-sm-3 col-md-3 label_mobile">
                <label class="control-label"><%= t('education.lb_school_name')%><span class="requiredfield">*</span></label>
              </div>
              <div class="col-xs-12 col-sm-9 col-md-9">
                <%= f.text_field :school_name, maxlength: 100, class: 'form-control', placeholder: t('education.lb_school_name') %>
              </div>
            </div>
          </div>

          <div class="form-group">
            <div class="row">
              <div class="col-xs-12 col-sm-3 col-md-3 label_mobile">
                <label class="control-label"><%= t('education.lb_school_url')%></label>
              </div>
              <div class="col-xs-12 col-sm-9 col-md-9">
                <%= f.text_field :school_url, maxlength: 500, class: 'form-control', placeholder: t('education.lb_school_url') %>
              </div>
            </div>
          </div>

          <div class="form-group" id="formGroupDate">
            <div class="row" >
              <div class="col-xs-12 col-sm-3 col-md-3 label_mobile">
                <label class="control-label"><%= t('education.lb_date_attended')%></label>
              </div>
              <div class="col-xs-4 col-sm-3 col-md-3">
                <%= f.select :start_year, year_options_for_select, {:include_blank => t('education.lb_year')}, {class: "form-control"} %>

              </div>
              <div class="col-xs-1 col-sm-1 col-md-1" style="text-align: center">
                <label>-</label>
                </div>
              <div class="col-xs-4 col-sm-3 col-md-3" id="div_graduation_year">
                <%= f.select :graduation_year, year_graduation_edu_options_for_select, {:include_blank => t('education.lb_year')},  {class: "form-control"}%>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-12 col-sm-3 col-md-3 label_mobile">
              </div>
              <div class="col-xs-12 col-sm-9 col-md-9" id="rowDate">
              </div>
            </div>
          </div>

          <div class="form-group">
            <div class="row">
              <div class="col-xs-12 col-sm-3 col-md-3 label_mobile">
                <label class="control-label"><%= t('education.lb_degree')%></label>
              </div>
              <div class="col-xs-12 col-sm-9 col-md-9">
                <%= f.collection_select :degree_id, AppParam.where(value: 'degree').order_by(code: 1), :id, :name, {:include_blank =>  t('education.placeholder_degree')}, {class: 'form-control'} %>
              </div>
            </div>
          </div>

          <div class="form-group">
            <div class="row">
              <div class="col-xs-12 col-sm-3 col-md-3 label_mobile">
                <label class="control-label"><%= t('education.lb_field_of_study')%></label>
              </div>
              <div class="col-xs-12 col-sm-9 col-md-9">
                <%= f.text_field :field_of_study, maxlength: 100, class: 'form-control', placeholder: t('education.lb_field_of_study') %>
              </div>
            </div>
          </div>

          <div class="form-group">
            <div class="row">
              <div class="col-xs-12 col-sm-3 col-md-3 label_mobile">
                <label class="control-label"><%= t('education.lb_grade')%></label>
              </div>
              <div class="col-xs-12 col-sm-9 col-md-9">
                <%= f.text_field :grade, maxlength: 80, class: 'form-control', placeholder: t('education.lb_grade') %>
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="row">
              <div class="col-xs-12 col-sm-3 col-md-3 label_mobile">
            <label class="control-label" style="text-align: left"><%= t('education.lb_activities_societies')%></label>
              </div>
              <div class="col-xs-12 col-sm-9 col-md-9">
                <%= f.text_area :activities_societies, maxlength: 500, class: 'form-control', placeholder: t('education.lb_activities_societies'), rows: 3 %>
                </div>
              </div>
          </div>

          <div class="form-group">
            <div class="row">
              <div class="col-xs-12 col-sm-3 col-md-3 label_mobile">
            <label class="control-label"><%= t('education.lb_description')%></label>
              </div>
              <div class="col-xs-12 col-sm-9 col-md-9">

            <%= f.text_area :description, maxlength: 1000, class: 'form-control', placeholder: t('education.lb_description'), rows: 3 %>
          </div>
              </div>
            </div>

        </div>
      </div>
    <!--</div>-->
    <!--</div>-->

<% end %>





