<%= form_for(@education) do |f| %>
  <% if @education.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@education.errors.count, "error") %> prohibited this education from being saved:</h2>

      <ul>
      <% @education.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :school_name %><br>
    <%= f.text_field :school_name %>
  </div>
  <div class="field">
    <%= f.label :school_url %><br>
    <%= f.text_field :school_url %>
  </div>
  <div class="field">
    <%= f.label :start_year %><br>
    <%= f.text_field :start_year %>
  </div>
  <div class="field">
    <%= f.label :graduation_year %><br>
    <%= f.text_field :graduation_year %>
  </div>
  <div class="field">
    <%= f.label :field_of_study %><br>
    <%= f.text_field :field_of_study %>
  </div>
  <div class="field">
    <%= f.label :grade %><br>
    <%= f.text_field :grade %>
  </div>
  <div class="field">
    <%= f.label :activities_societies %><br>
    <%= f.text_field :activities_societies %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_field :description %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
